table {
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 10px;
    width: 100%;
    border: 1px solid #ddd;
  }

  th,
  td {
    text-align: left;
    padding: 16px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:nth-child(odd) {
    background-color: #ffffff;
  }

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .input-group {
    width: 100%;
    margin-bottom: 1rem;
  }

  body {
    background: linear-gradient(#87f4b5, #93cbf1);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

